include ../components/head/head

doctype html
html(lang="ru")
	head
		+head({
			"title": "Главная",
			"description": "Главная страница",
			"style_page": "styles/index.css"
})

body.main-page
	p У тебя всё получится ❤