mixin total-cost()
	total-cost-block
		h6.total-cost Стоимость решения под ваш бизнес:
		total-solution-price 27 790
		label.solution-link(for="popup-order-checkbox") Показать выписку
		label.solution-button(for="popup-callback-checkbox") Заказать комплект