.for-buyers-container {
  padding-top: 41px;
  padding-left: 20px;
  padding-right: 20px;

  @media ($min-desktop) {
    padding-top: 122px;
  }
}

.for-buyers-title {
  font-weight: 500;
  line-height: 51px;
  font-size: 36px;
  color: #22253d;

  @media ($max-desktop) {
    text-align: center;
  }
}

.for-buyers-title + .for-buyers-section {
  margin-top: 39px;

  @media ($min-desktop) {
    margin-top: 68px;
  }
}

.for-buyers-section {
  & + & {
    margin-top: 62px;

    @media ($min-desktop) {
      margin-top: 123px;
    }
  }
}

.for-buyers-section-title {
  font-size: 24px;
  line-height: 1.7;
  color: #21243c;
  word-break: break-all;
  hyphens: auto;

  & > span {
    display: inline-flex;
    align-items: flex-end;
    color: #d8dce6;
    font-weight: 100;
    font-size: 30px;
    line-height: 1;
    margin-right: 6px;

    &::before {
      content: attr(number);
      display: block;
      font-size: 36px;
      font-weight: 100;
      color: #ff7800;
    }

    &::after {
      content: attr(all);
      display: inline-block;
      font-weight: 100;
      font-size: 24px;
      line-height: 1;
      color: #d8dce6;
    }
  }
}

.for-buyers-section-title + .for-buyers-items,
.for-buyers-section-title + .section-with-service-articles {
  margin-top: 44px;

  @media ($min-desktop) {
    margin-top: 58px;
  }
}

.for-buyers-items {
}

.for-buyer-item {
  border: 1px solid #d8dce6;
  border-radius: 5px 5px 0 0;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 17px;
  position: relative;

  @media ($max-desktop) {
    flex-wrap: wrap;
  }

  @media ($min-desktop) {
    align-items: center;
    padding-top: 34px;
    padding-left: 41px;
    padding-bottom: 35px;
  }

  & + &:not(.no-margin-top) {
    margin-top: 42px;
  }

  &.no-margin-top {
    border-radius: 0 0 5px 5px;
    border-top: none;

    .for-buyer-item-img {
      @media ($max-tablet) {
        display: none;
      }
    }

    .for-buyer-item-title {
      @media ($max-desktop) {
        margin-bottom: 22px;
      }
    }
  }
}

.for-buyer-item-img {
  & > img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.for-buyer-item-label {
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
}

.for-buyer-item-checkbox,
.for-buyer-item-radio {
  display: none;

  & + .for-buyer-item-label {
    background-repeat: no-repeat;
    background-position: 50%;
    min-width: 36px;
    min-height: 36px;
    width: 36px;
    height: 36px;
    border: 2px solid #dde0e9;
    transition: 0.3s ease;
  }

  & ~ .for-buyer-item-title > h6 {
    @media ($max-desktop) {
      padding-left: 59px;
    }
  }
}

.for-buyer-item-checkbox {
  &:checked {
    & + .for-buyer-item-label {
      border-color: #219653;
      background-image: url('../../img/checked-green.svg');
    }
  }

  &:not(:checked) ~ .for-buyer-item-close {
    filter: opacity(0);
  }

  & + .for-buyer-item-label {
    @media ($max-desktop) {
      position: absolute;
      top: 19px;
      left: 19px;
    }

    @media ($min-desktop) {
      margin-right: 66px;
    }
  }

  & ~ .for-buyer-item-title {
    font-size: 24px;

    @media ($min-desktop) {
      margin-right: 29px;
      width: 300px;
    }
  }

  & ~ .for-buyer-item-img {
    height: 70px;
    display: flex;

    @media ($max-desktop) {
      order: 2;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 18px;
    }

    @media ($min-desktop) {
      margin-right: 48px;
      width: 150px;
    }

    & > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.for-buyer-item-radio {
  & + .for-buyer-item-label {
    border-radius: 50%;
    box-shadow: 0 0 0 2px #dde0e9;
    border: 7px solid transparent;
    transition: initial;

    @media ($max-desktop) {
      order: 2;
      margin-right: auto;
    }

    @media ($min-desktop) {
      margin-right: 116px;
    }
  }

  & ~ .for-buyer-item-img {
    @media ($max-desktop) {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 19px;
      top: 19px;
    }

    @media ($min-desktop) {
      width: 60px;
      height: 60px;
      margin-right: 81px;
    }
  }

  & ~ .for-buyer-item-title {
    font-size: 18px;

    @media ($max-desktop) {
      margin-bottom: 33px;
    }

    @media ($min-desktop) {
      font-size: 24px;
    }
  }

  & ~ .for-buyer-item-price {
    @media ($min-desktop) {
      margin-left: auto;
      margin-right: 96px;
      width: 182px;
      text-align: left;
    }
  }

  &:checked {
    & + .for-buyer-item-label {
      border-color: white;
      background-color: #219653;
      transition: background-color 0.3s ease-out;
    }
  }
}

.for-buyer-item-title {
  @media ($max-desktop) {
    width: 100%;
    order: 1;
  }

  & > h6 {
    line-height: 1.34;
    font-weight: 700;
    color: #21243c;

    & + p {
      @media ($max-desktop) {
        margin-top: 36px;
      }

      @media ($min-desktop) {
        margin-top: 11px;
      }
    }
  }

  & > p {
    font-size: 14px;
    font-weight: 300;
    color: #21243c;
  }
}

.for-buyer-item-amount {
  width: 80px;
  display: flex;
  align-items: center;

  @media ($max-desktop) {
    order: 4;
  }

  @media ($min-desktop) {
    min-width: 126px;
    margin-right: 65px;
  }

  &-minus,
  &-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #d8dce6;
    border-radius: 50%;
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
    position: relative;
    transition: border-color 0.5s ease;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 2px;
      background-color: #d8dce6;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      transition: background-color 0.5s ease;

      @media ($min-desktop) {
        width: 16px;
      }
    }

    &:hover {
      border-color: #219653;

      &::before,
      &::after {
        background-color: #219653;
      }
    }

    @media ($min-desktop) {
      min-width: 40px;
      min-height: 40px;
    }
  }

  &-minus::after {
    content: none;
  }

  &-plus::after {
    transform: rotate(90deg);
    left: 5px;

    @media ($min-desktop) {
      left: 11px;
    }
  }

  &-value {
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    color: #21243c;
    width: 100%;

    @media ($min-desktop) {
      font-size: 24px;
    }
  }
}

.for-buyer-item-price {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 36px;
  font-weight: 300;
  color: #333333;

  @media ($max-desktop) {
    min-width: calc(100% - 80px);
    order: 3;
  }

  @media ($min-desktop) {
    margin-right: 116px;
    width: 181px;
  }

  & > span {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;

    &::before {
      content: '';
      display: block;
      min-width: 13px;
      height: 18px;
      background-image: url("../../img/rub.svg");
      background-repeat: no-repeat;
    }
  }
}

.for-buyer-item-close {
  width: 32px;
  height: 32px;
  border: 2px solid #d8dce6;
  background-image: url("../../img/icon-close-gray.svg");
  background-size: 13px 13px;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  transition: filter 0.3s ease;
  filter: opacity(1);
  cursor: pointer;

  @media ($max-desktop) {
    display: none;
  }
}

.items-block-service {
  display: flex;
  flex-direction: column;
  width: 274px;
  min-height: 390px;
  border: 1px solid #dce0e9;
  border-radius: 5px;
  // margin-top: 70px;
  padding: 45px 20px 49px 20px;
}

.items-block-service-img + .article-description {
  margin-top: 10px;
}

.article-description {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.service-title + service-price {
  margin-top: 34px;
}

service-price + .select-service {
  margin-top: 24px;
}

.items-block-service-img {
  max-height: 85px;
}

.service-title {
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #21243c;
  word-break: break-word;
  margin-bottom: auto;
}

service-price {
  &.only-price {
    display: block;
    text-align: center;
  }
}

.select-service {
  display: block;
  min-width: 186px;
  min-height: 60px;
  border: 2px solid #d8dce6;
  border-radius: 30px;
  color: #d8dce6;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
  cursor: pointer;
}

.items-block-service {
  &:not(.active) {
    .select-service:hover {
      border-color: #17914b;
      color: #17914b;
      background-color: white;
    }
  }

  &.active {
    .select-service {
      color: white;
      background-color: #17914b;
      border-color: #17914b;
      background-image: url("../../img/checked-white.svg");
      background-size: 14px 11px;
      background-position: right 27px bottom 50%;
      background-repeat: no-repeat;

      &:hover {
      }
    }
  }
}

.section-with-service-articles {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 274px);

  @media ($min-desktop) {
    grid-gap: 16px;
  }
}