@import "helpers/_postcss-reset.scss";
@import "fonts/fonts.scss";
@import "helpers/_variables.scss";
@import "helpers/_base.scss";
@import "../components/banner/banner.scss";
@import "../components/slider/slider.scss";
@import "../components/for-bueyrs/for-bueyrs.scss";
@import "../components/popup/callback.scss";

body {
  font-family: "Museo Sans", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.main-page {
  & > banner-block,
  & > .cashbox-slider,
  & > .for-buyers-container {
    @media ($min-desktop) {
      padding-left: calc((100vw - $desktop) / 2);
      padding-right: calc((100vw - $desktop) / 2);
    }
  }
}



// -------------------------


optional-equipment-block {
  display: block;

  equipment-container {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
}



// ------------------------------
select-system-block {
  display: block;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 49px;
  padding-right: 20px;
}

systems-block {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #d8dce6;
  border-radius: 5px;
  padding-top: 22px;
  padding-left: 21px;
  padding-bottom: 26px;

  label {
    border: 1px solid #d8dce6;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    order: 2;
  }

  input {
    display: none;
  }

  system-price {
    order: 3;
  }
}

system-block-description {
  display: flex;
  align-items: center;
  order: 1;
  width: 100%;
  margin-bottom: 15px;

  & + system-price {
    margin-left: 15px;
  }

  img {
    & + h6 {
      margin-left: 19px;
    }
  }

  h6 {
    font-weight: 700;
    line-height: 25px;
    font-size: 18px;
    color: #21243c;
  }
}

// ----------------------

services-block {
  display: block;
}

select-service-block {
  display: block;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 49px;
  padding-right: 20px;
}

system-block-description {
  display: flex;
  // border: 1px solid #d8dce6;
  border-radius: 5px;
  padding-top: 22px;
  padding-left: 21px;
  padding-bottom: 26px;
}

service-block {
  display: flex;
  border: 1px solid #d8dce6;
  border-radius: 5px;
  padding-top: 22px;
  padding-left: 21px;
  padding-bottom: 26px;
}
// ТОЛЬКО ЦЕНА--------------
.only-price {
  display: inline-block;
  line-height: 51px;
  font-size: 36px;
  color: #333333;

  &::after {
    content: "";
    background-image: url("../img/rub.svg");
    min-width: 13px;
    min-height: 18px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 7px;
  }
}
// ЦЕНЫ/МЕС-----------------
.prices {
  display: flex;
  align-items: baseline;
  line-height: 51px;
  font-size: 36px;
  color: #333333;

  div {
    &::after {
      content: "";
      background-image: url("../img/rub.svg");
      min-width: 13px;
      min-height: 18px;
      display: inline-block;
      background-repeat: no-repeat;
      margin-left: 10px;
    }
  }

  span {
    display: inline-block;
    line-height: 22px;
    font-size: 16px;
    color: #b8c0d1;
  }
}

// ------------------------
.select-service {
  min-width: 186px;
  min-height: 60px;
  border: 1px solid #d8dce6;
  border-radius: 30px;
  color: #d8dce6;
  background-color: white;

  &:hover {
    min-width: 186px;
    min-height: 60px;
    border: 1px solid #17914b;
    border-radius: 30px;
    color: #17914b;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
  }
}

.service-title {
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #21243c;
}

total-cost-block {
  display: block;
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 23px;

  h6 {
    line-height: 51px;
    font-size: 36px;
    color: #ff7800;
  }
}

total-solution-price {
  // display: inline-block;
  display: block;
  line-height: 79px;
  font-size: 56px;
  color: #333333;

  &::after {
    content: "";
    background-image: url("../img/rub.svg");
    min-width: 13px;
    min-height: 18px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 10px;
  }
}

// ______________________________________

popup-order-block {
  display: block;
  width: 612px;
  border: 1px solid #b8c0d1;
  border-radius: 2px;
  // background-color: #d8dce6;
}

order-block-content {
  display: block;
  padding-left: 50px;
  padding-top: 17px;
  background-color: #e3e4e7;

  h2 {
    font-size: 24px;
  }
}

order-block-conclusion {
  display: flex;
  font-size: 25px;
  padding-top: 34px;
  padding-left: 50px;
  background-color: white;
}

conclusion-cost {
  display: block;

  &::after {
    content: "";
    background-image: url("../img/rub.svg");
    min-width: 13px;
    min-height: 18px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 7px;
  }
}

.conclusion-button {
  color: white;
  border-radius: 20px;
  width: 216px;
  height: 40px;
  background-color: #ff7800;
  border: 1px solid #ff7800;
  font-size: 18px;
}

p + conclusion-cost {
  margin-left: 25px;
}

conclusion-cost + button {
  margin-left: 102px;
}

table {
  display: block;

  & > tbody {
    display: block;
  }
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid gray;

  &:not(:last-child) {
    border-bottom: none;
  }
}

td {
  &.name {
    width: 40%;
    margin-right: 20px;
  }

  &.amount {
    width: 100px;
    margin-right: 10px;
  }

  &.multiply {
    width: 10px;
    margin-right: 10px;
  }

  &.price {
    width: 200px;
  }
}