// $Roboto: 'Roboto', sans-serif;
$mobile: 320px;
$tablet: 768px;
$desktop: 1162px;
$big-desktop: 1440px;
$min-tablet: (min-width: $tablet);
$max-desktop: (max-width: 1161px);
$min-desktop: (min-width: $desktop);
