mixin banner-block
  banner-block
    banner-description
      h1 Фермерская лавка
      p У вас небольшой магазин с натуральной продукцией, которую привозят с фермерских хозяйств. Помещение стилизовано под деревенский дом. Поток покупателей небольшой, но постоянный. Больших очередей не бывает. Есть постоянные покупатели, учет которых хочется вести. Мы поможем организовать удобную работу — настроим кассу и учетную систему под ваш бизнес.
      banner-description-tags
        banner-description-tag #ФЕРМЕРСКАЯ ЛАВКА
        banner-description-tag #РЫНОК
    banner-solution
      h6.solution-title Готовое решение:
      banner-solution-price 27 790      
      p.solution-description В комплекте: касса (1), оборудование (2), приложения (1)
      label.solution-link(for="popup-order-checkbox") Показать выписку
      label(for="popup-callback-checkbox").solution-button Заказать комплект
    picture.banner-img 
      source(srcset="../img/farm-shop.png" media="(max-width: 767px)")
      img(src="../img/banner-1-1600.jpg" alt="")