mixin head(data)
    title= data.title
    meta(charset="utf-8") 
    meta(content=data.description name="description")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="HandheldFriendly" content="true")
    meta(name="format-detection", content="telephone=no")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")

    link(href="img/favicons/favicon.ico" rel="shortcut icon")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicons/favicon-16x16.png")
    link(rel="manifest", href="img/favicons/manifest.json")
    link(rel="mask-icon", href="img/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#ffffff")

    link(rel="stylesheet", href=data.style_page)